@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background-color: #22223b;
  font-family: "Merriweather", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  list-style: none;
  font-family: "Merriweather", sans-serif;
}
.newsfeed {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f2e9e4;
}
.leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f2e9e4;
}
.about {
  display: flex;
  align-items: center;
  color: #f2e9e4;
}
.signup-container {
  display: flex;
  justify-content: flex-end;
  color: #f2e9e4;
}
a {
  font-family: "Merriweather", sans-serif;
}
.text-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-family: "Merriweather", sans-serif;
  background-color: #f2e9e4;

}
section {
  background-color: aliceblue;
}
.text-section {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  height: 324px;
  background-color: #4a4e69;
}

.title-par{
display: grid;
grid-template-rows: auto auto;
}


.game-section {
  position: absolute;
  top: 325px;
  right: 220px;
  width: 600px;
  height: 65%;
  background-color: #9a8c98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-game {
  font-family: "Merriweather", sans-serif;
  padding: 40px;

  color: #f2e9e4;
}
.footer-home {
  padding: 1em;
  text-align: center;
  margin-top: 10%;
}
.footer-home div i {
  background-color: white;
  padding: 5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.p-t {
  color: #f2e9e4;
}

.title{
  padding: 10px 30px 0 30px;
  color: #f2e9e4;
  font-size: 1.5rem;
}
.title-into{
text-align: center;

}